In [1]:
import sqlalchemy
from sqlalchemy import create_engine, func,ForeignKey
import pandas as pd
import numpy as np

In [2]:
#Postgres User ID(DB_USER),Password(DB_KEY) and Database Name (DB_NAME) are imported from postgres_key
from postgres_key import DB_USER,DB_KEY,DB_NAME

In [3]:
#Read BP data
bp_data=pd.read_csv('FinalDataFiles\\bp2021consolidateddataset.csv')

In [4]:
bp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252916 entries, 0 to 252915
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Country          252916 non-null  object
 1   Year             252916 non-null  int64
 2   ISO3166_alpha3   204843 non-null  object
 3   ISO3166_numeric  204843 non-null  float64
 4   Region           204843 non-null  object
 5   SubRegion        204843 non-null  object
 6   OPEC             204843 non-null  float64
 7   EU               204843 non-null  float64
 8   OECD             204843 non-null  float64
 9   CIS              204843 non-null  float64
 10  Var              252916 non-null  object
 11  Value            252916 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 23.2+ MB

In [5]:
#Get list of metrics which are trakced by BP
bp_data['Var'].sort_values().unique()

array(['biodiesel_cons_kbd', 'biodiesel_cons_kboed',
       'biodiesel_cons_ktoe', 'biodiesel_cons_pj', 'biodiesel_prod_kbd',
       'biodiesel_prod_kboed', 'biodiesel_prod_ktoe', 'biodiesel_prod_pj',
       'biofuels_cons_ej', 'biofuels_cons_kbd', 'biofuels_cons_kboed',
       'biofuels_cons_ktoe', 'biofuels_cons_mtoe', 'biofuels_cons_pj',
       'biofuels_prod_kbd', 'biofuels_prod_kboed', 'biofuels_prod_ktoe',
       'biofuels_prod_pj', 'biogeo_ej', 'biogeo_mtoe', 'biogeo_twh',
       'co2_mtco2', 'coalcons_ej', 'coalcons_mtoe', 'coalprod_ej',
       'coalprod_mt', 'coalprod_mtoe', 'cobalt_kt', 'elect_twh',
       'electbyfuel_coal', 'electbyfuel_gas', 'electbyfuel_oil',
       'ethanol_cons_kbd', 'ethanol_cons_kboed', 'ethanol_cons_ktoe',
       'ethanol_cons_pj', 'ethanol_prod_kbd', 'ethanol_prod_kboed',
       'ethanol_prod_ktoe', 'ethanol_prod_pj', 'gascons_bcfd',
       'gascons_bcm', 'gascons_ej', 'gascons_mtoe', 'gasprod_bcfd',
       'gasprod_bcm', 'gasprod_ej', 'gasprod_mtoe', 'gasreserves_tcm',
       'graphite_kt', 'hydro_ej', 'hydro_mtoe', 'hydro_twh',
       'liqcons_kbd', 'lithium_kt', 'nuclear_ej', 'nuclear_mtoe',
       'nuclear_twh', 'oilcons_ej', 'oilcons_kbd', 'oilcons_mt',
       'oilcons_mtoe', 'oilprod_crudecond_kbd', 'oilprod_kbd',
       'oilprod_mt', 'oilprod_ngl_kbd', 'oilreserves_bbl', 'pop',
       'primary_ej', 'primary_gj_pc', 'primary_mtoe', 'rareearths_kt',
       'refcap_kbd', 'refthru_kbd', 'ren_power_ej', 'ren_power_mtoe',
       'ren_power_twh', 'renewables_ej', 'renewables_mtoe', 'solar_ej',
       'solar_mtoe', 'solar_twh', 'wind_ej', 'wind_mtoe', 'wind_twh'],
      dtype=object)

In [6]:
#Create list of metrics that are to be used for analysis
AnalysisMetrics=['biodiesel_cons_pj','biodiesel_prod_pj','biofuels_cons_ej','biofuels_prod_pj','co2_mtco2','coalcons_ej',
                'coalprod_ej','ethanol_cons_pj','ethanol_prod_pj','gascons_ej','gasprod_ej','oilcons_ej','oilprod_kbd']

In [7]:
#Filter BP data to have data for just the metrics identified above
bp_data=bp_data[bp_data['Var'].isin(AnalysisMetrics)]

In [8]:
#Remove rows which have NULL value for Country IDs, i.e remove regions,continents consolidated data
bp_data=bp_data[bp_data['ISO3166_numeric'].notnull()]

## Create Countries Dataset

In [9]:
#Create a countries data frame using the distinct values of countries in BP data
countries_df=bp_data[['ISO3166_numeric','Country','Region']].drop_duplicates()
countries_df.reset_index(inplace=True,drop=True)

In [10]:
#Rename Columns
countries_df.rename(columns={'ISO3166_numeric':'country_id','Country':'country','Region':'region'},inplace=True)

In [11]:
countries_df.head()

   country_id     country              region
0        12.0     Algeria              Africa
1        24.0      Angola              Africa
2        32.0   Argentina  S. & Cent. America
3        36.0   Australia        Asia Pacific
4        31.0  Azerbaijan                 CIS

In [12]:
#Create connection to postgres DB
engine=create_engine(f'postgresql://{DB_USER}:{DB_KEY}@localhost:5432/{DB_NAME}')

In [13]:
#Drop table if it exits
engine.execute('DROP TABLE IF EXISTS COUNTRY_MASTER')

In [14]:
#Create table if it does not exist
engine.execute('CREATE TABLE IF NOT EXISTS COUNTRY_MASTER(COUNTRY_ID INT,COUNTRY VARCHAR(25),REGION VARCHAR(20))')

In [15]:
#insert data into country_master table
countries_df.to_sql('country_master',engine,if_exists='append',index=False)

In [16]:
bp_data.reset_index(inplace=True,drop=True)

In [17]:
bp_data.head()

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,569.943836
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,733.593151
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,842.664384
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,922.495082
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,969.331507

## Create Consumption Dataset

In [18]:
#Create DF with all consumption metrics in BP data
consumption_df=bp_data[bp_data['Var'].isin(['biodiesel_cons_pj','biofuels_cons_ej','coalcons_ej','ethanol_cons_pj'
                                    ,'gascons_ej','oilcons_ej'])]
consumption_df.reset_index(inplace=True,drop=True)

In [19]:
consumption_df.head()

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.055459
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.072982
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.068191
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.072602
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.076701

In [20]:
len(consumption_df)

16776

In [21]:
pd.set_option('mode.chained_assignment',None)

In [22]:
##Create a Range of years for every decade
consumption_df['year_range']=["1965-1975" if x<1975 else "1975-1985" if x<1985 
                              else "1985-1995" if x<1995 else "1995-2005" if x<2005 
                              else "2005-2015" if x<2015 else "2015-2020" for x in consumption_df['Year'] ]

In [23]:
consumption_df.head()

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value,year_range
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.055459,1965-1975
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.072982,1965-1975
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.068191,1965-1975
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.072602,1965-1975
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilcons_ej,0.076701,1965-1975

In [24]:
#consumption_df[(consumption_df['Var']=='biodiesel_cons_pj') & (consumption_df['Value']>0)][['Year','Country','Value']]

In [25]:
#1 ej=1000 pj, converting pj units to ej for biodiesel
consumption_df['Value']=np.where((consumption_df.Var=='biodiesel_cons_pj'),consumption_df.Value*0.001,consumption_df.Value)

In [26]:
#consumption_df[(consumption_df['Var']=='biodiesel_cons_pj') & (consumption_df['Value']>0)][['Year','Country','Value']]

In [27]:
#Replace the converted 'biodiesel_cons_pj'with 'biodiesel_cons_ej'
consumption_df['Var'].replace('biodiesel_cons_pj','biodiesel_cons_ej',inplace=True)

In [28]:
#1 ej=1000 pj, converting pj units to ej for ethanol
consumption_df['Value']=np.where((consumption_df.Var=='ethanol_cons_pj'),consumption_df.Value*0.001,consumption_df.Value)

In [29]:
#Replace the converted 'ethanol_cons_pj'with 'ethanol_cons_ej'
consumption_df['Var'].replace('ethanol_cons_pj','ethanol_cons_ej',inplace=True)

In [30]:
#consumption_df['Var'].unique()

In [31]:
consumption_df=consumption_df[['ISO3166_numeric','Country','Year','year_range','Var','Value']]

In [32]:
consumption_df.rename(columns={'ISO3166_numeric':'country_id','Country':'country','Year':'year',
                              'Var':'fuel_type','Value':'consumption_value'},inplace=True)

In [33]:
consumption_df.head()

   country_id  country  year year_range   fuel_type  consumption_value
0        12.0  Algeria  1965  1965-1975  oilcons_ej           0.055459
1        12.0  Algeria  1966  1965-1975  oilcons_ej           0.072982
2        12.0  Algeria  1967  1965-1975  oilcons_ej           0.068191
3        12.0  Algeria  1968  1965-1975  oilcons_ej           0.072602
4        12.0  Algeria  1969  1965-1975  oilcons_ej           0.076701

In [34]:
#Drop table if it exits
engine.execute('DROP TABLE IF EXISTS FUEL_CONSUMPTION')

In [35]:
#Create table if it does not exist
engine.execute('CREATE TABLE IF NOT EXISTS FUEL_CONSUMPTION(COUNTRY_ID INT,COUNTRY VARCHAR(25),YEAR INT,YEAR_RANGE VARCHAR(12),\
              FUEL_TYPE VARCHAR(20),CONSUMPTION_VALUE DOUBLE PRECISION)')

In [36]:
consumption_df.to_sql('fuel_consumption',engine,if_exists='append',index=False)

## Create Production Dataset

In [37]:
#Create DF with all production metrics in BP data
production_df=bp_data[bp_data['Var'].isin(['biodiesel_prod_pj','biofuels_prod_pj','coalprod_ej','ethanol_prod_pj'
                                    ,'gasprod_ej','oilprod_kbd'])]
production_df.reset_index(inplace=True,drop=True)

In [38]:
len(production_df)

7061

In [39]:
production_df.head()

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,569.943836
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,733.593151
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,842.664384
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,922.495082
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,969.331507

In [40]:
##Create a Range of years for every decade
production_df['year_range']=["1965-1975" if x<1975 else "1975-1985" if x<1985 
                              else "1985-1995" if x<1995 else "1995-2005" if x<2005 
                              else "2005-2015" if x<2015 else "2015-2020" for x in production_df['Year'] ]

In [41]:
#1 ej=1000 pj, converting pj units to ej for biodiesel
production_df['Value']=np.where((production_df.Var=='biodiesel_prod_pj'),production_df.Value*0.001,production_df.Value)

In [42]:
#Replace the converted 'biodiesel_prod_pj'with 'biodiesel_prod_ej'
production_df['Var'].replace('biodiesel_prod_pj','biodiesel_prod_ej',inplace=True)

In [43]:
#1 ej=1000 pj, converting pj units to ej for biofuel
production_df['Value']=np.where((production_df.Var=='biofuels_prod_pj'),production_df.Value*0.001,production_df.Value)

In [44]:
#Replace the converted 'biofuels_prod_pj'with 'biofuels_prod_ej'
production_df['Var'].replace('biofuels_prod_pj','biofuels_prod_ej',inplace=True)

In [45]:
#1 ej=1000 pj, converting pj units to ej for ethanol
production_df['Value']=np.where((production_df.Var=='ethanol_prod_pj'),production_df.Value*0.001,production_df.Value)

In [46]:
#Replace the converted 'ethanol_prod_pj'with 'ethanol_prod_ej'
production_df['Var'].replace('ethanol_prod_pj','ethanol_prod_ej',inplace=True)

In [47]:
production_df[production_df['Var']=='oilprod_kbd']

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value,year_range
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,569.943836,1965-1975
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,733.593151,1965-1975
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,842.664384,1965-1975
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,922.495082,1965-1975
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,969.331507,1965-1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,Yemen,2016,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,42.576511,2015-2020
2444,Yemen,2017,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,71.013699,2015-2020
2445,Yemen,2018,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,94.156115,2015-2020
2446,Yemen,2019,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,94.649315,2015-2020
2447,Yemen,2020,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,94.573770,2015-2020

In [48]:
#1kilo barrel per day =1*1000*365 barrels per year
#1 barrel of oil = 6.2 Gigajoules(GJ)
#1 GJ=0.000000001 EJ
production_df['Value']=np.where((production_df.Var=='oilprod_kbd')
                                ,production_df.Value*1000*365*6.12*0.000000001,production_df.Value)

In [49]:
production_df[production_df['Var']=='oilprod_kbd']

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value,year_range
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,1.273141,1965-1975
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,1.638700,1965-1975
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,1.882344,1965-1975
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,2.060670,1965-1975
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,oilprod_kbd,2.165293,1965-1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,Yemen,2016,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,0.095107,2015-2020
2444,Yemen,2017,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,0.158630,2015-2020
2445,Yemen,2018,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,0.210326,2015-2020
2446,Yemen,2019,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,0.211428,2015-2020
2447,Yemen,2020,YEM,887.0,Middle East,Middle East,0.0,0.0,0.0,0.0,oilprod_kbd,0.211259,2015-2020

In [50]:
#Replace the converted 'oilprod_kbd'with 'oilprod_ej'
production_df['Var'].replace('oilprod_kbd','oilprod_ej',inplace=True)

In [51]:
production_df['Var'].unique()

array(['oilprod_ej', 'gasprod_ej', 'ethanol_prod_ej', 'coalprod_ej',
       'biofuels_prod_ej', 'biodiesel_prod_ej'], dtype=object)

In [52]:
production_df=production_df[['ISO3166_numeric','Country','Year','year_range','Var','Value']]
production_df.rename(columns={'ISO3166_numeric':'country_id','Country':'country','Year':'year',
                              'Var':'fuel_type','Value':'production_value'},inplace=True)

In [53]:
#Drop table if it exits
engine.execute('DROP TABLE IF EXISTS FUEL_PRODUCTION')

In [54]:
#Create table if it does not exist
engine.execute('CREATE TABLE IF NOT EXISTS FUEL_PRODUCTION(COUNTRY_ID INT,COUNTRY VARCHAR(25),YEAR INT,YEAR_RANGE VARCHAR(12),\
              FUEL_TYPE VARCHAR(20),PRODUCTION_VALUE DOUBLE PRECISION)')

In [55]:
production_df.to_sql('fuel_production',engine,if_exists='append',index=False)

## Create Co2Emission Dataset

In [56]:
co2emission_df=bp_data[bp_data['Var']=='co2_mtco2']

In [57]:
co2emission_df.reset_index(inplace=True,drop=True)
co2emission_df.head()

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Algeria,1965,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,co2_mtco2,5.568753
1,Algeria,1966,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,co2_mtco2,6.867506
2,Algeria,1967,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,co2_mtco2,6.369307
3,Algeria,1968,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,co2_mtco2,6.771137
4,Algeria,1969,DZA,12.0,Africa,Northern Africa,1.0,0.0,0.0,0.0,co2_mtco2,7.592118

In [58]:
#Calculate Year Range
co2emission_df['year_range']=["1965-1975" if x<1975 else "1975-1985" if x<1985 
                              else "1985-1995" if x<1995 else "1995-2005" if x<2005 
                              else "2005-2015" if x<2015 else "2015-2020" for x in co2emission_df['Year'] ]

In [59]:
#Select needed columns and rename them as needed
co2emission_df=co2emission_df[['ISO3166_numeric','Country','Year','year_range','Value']]
co2emission_df.rename(columns={'ISO3166_numeric':'country_id','Country':'country','Year':'year',
                              'Value':'emission_value'},inplace=True)
co2emission_df.head()

   country_id  country  year year_range  emission_value
0        12.0  Algeria  1965  1965-1975        5.568753
1        12.0  Algeria  1966  1965-1975        6.867506
2        12.0  Algeria  1967  1965-1975        6.369307
3        12.0  Algeria  1968  1965-1975        6.771137
4        12.0  Algeria  1969  1965-1975        7.592118

In [60]:
engine.execute('DROP TABLE IF EXISTS CO2_EMISSION')

In [61]:
#Create table if it does not exist
engine.execute('CREATE TABLE IF NOT EXISTS CO2_EMISSION(COUNTRY_ID INT,COUNTRY VARCHAR(25),YEAR INT,YEAR_RANGE VARCHAR(12),\
              EMISSION_VALUE DOUBLE PRECISION)')

In [62]:
co2emission_df.to_sql('co2_emission',engine,if_exists='append',index=False)

## Create GDP Dataset based on World Bank Data

In [63]:
wb_gdp=pd.read_csv('FinalDataFiles\\WorldBank_GDP.csv',skiprows=4)

In [64]:
wb_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.498491e+11,9.635604e+11,9.837486e+11,9.186471e+11,8.720235e+11,9.842556e+11,1.011723e+12,1.008375e+12,9.188155e+11,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,7.275714e+11,8.207876e+11,8.514872e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN

In [65]:
#Unique Country Names in GDP Data
wb_gdp['Country Name'].nunique()

266

In [66]:
#Convert GPD by year in Columns to Rows i.e Pivot data
gdp=wb_gdp.melt(id_vars=['Country Name','Country Code','Indicator Name','Indicator Code'],var_name='Year',
            value_vars=[str(x) for x in np.arange(1960,2020)],value_name='GDP')
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GDP
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1960,1.929944e+10
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1960,1.040428e+10
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN

In [67]:
#Selcted needed columns
gdp=gdp[['Country Name','Country Code','Year','GDP']]
gdp.head()

                  Country Name Country Code  Year           GDP
0                        Aruba          ABW  1960           NaN
1  Africa Eastern and Southern          AFE  1960  1.929944e+10
2                  Afghanistan          AFG  1960  5.377778e+08
3   Africa Western and Central          AFW  1960  1.040428e+10
4                       Angola          AGO  1960           NaN

In [68]:
#Drop countires and years which do not have GDP data
gdp.dropna(inplace=True)

In [69]:
#Unique Country Names in GDP Data
gdp['Country Code'].nunique()

261

In [70]:
#Get country dataset from BP Data
country_code=bp_data[['ISO3166_numeric','ISO3166_alpha3','Country']].drop_duplicates()
country_code.reset_index(inplace=True,drop=True)
country_code.head()

   ISO3166_numeric ISO3166_alpha3     Country
0             12.0            DZA     Algeria
1             24.0            AGO      Angola
2             32.0            ARG   Argentina
3             36.0            AUS   Australia
4             31.0            AZE  Azerbaijan

In [71]:
# Merge gdp dand country data(from BP) and get country ID.
#Get GPD pnly for those countries that exist in BP data set
final_gdp=gdp.merge(country_code,how='inner',left_on='Country Code',right_on='ISO3166_alpha3')
final_gdp.head()

,Country Name,Country Code,Year,GDP,ISO3166_numeric,ISO3166_alpha3,Country
0,Australia,AUS,1960,1.860679e+10,36.0,AUS,Australia
1,Australia,AUS,1961,1.968306e+10,36.0,AUS,Australia
2,Australia,AUS,1962,1.992272e+10,36.0,AUS,Australia
3,Australia,AUS,1963,2.153993e+10,36.0,AUS,Australia
4,Australia,AUS,1964,2.380110e+10,36.0,AUS,Australia

In [72]:
#Unique Country Names in Final GDP Data
final_gdp['Country Code'].nunique()

97

In [73]:
# Countries that do not exist in our anlaysis, as they do not exist in BP Dataset
set(gdp['Country Name'].unique())-set(country_code['Country'].unique())

{'Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'American Samoa',
 'Andorra',
 'Antigua and Barbuda',
 'Arab World',
 'Armenia',
 'Aruba',
 'Bahamas, The',
 'Barbados',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brunei Darussalam',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Channel Islands',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Cuba',
 'Curacao',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Eritrea',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Fragile and conflict affected situations',
 'French Polynesia',
 'Gambia, The',
 'Georgia',
 'Ghana',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong SAR, China',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iran, Islamic Rep.',
 'Isle of Man',
 'Jamaica',
 'Jordan',
 'Kenya',
 'Kiribati',
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Liechtenstein',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nepal',
 'New Caledonia',
 'Nicaragua',
 'Niger',
 'North America',
 'Northern Mariana Islands',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Suriname',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'United States',
 'Upper middle income',
 'Uruguay',
 'Vanuatu',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.',
 'Zambia'}

In [74]:
final_gdp=final_gdp[['Country','ISO3166_numeric','Year','GDP',]]
final_gdp.head()

     Country  ISO3166_numeric  Year           GDP
0  Australia             36.0  1960  1.860679e+10
1  Australia             36.0  1961  1.968306e+10
2  Australia             36.0  1962  1.992272e+10
3  Australia             36.0  1963  2.153993e+10
4  Australia             36.0  1964  2.380110e+10

In [75]:
final_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4849 entries, 0 to 4848
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          4849 non-null   object
 1   ISO3166_numeric  4849 non-null   float64
 2   Year             4849 non-null   object
 3   GDP              4849 non-null   float64
dtypes: float64(2), object(2)
memory usage: 189.4+ KB

In [76]:
#Convert Year to Number
final_gdp['Year']=pd.to_numeric(final_gdp['Year'])

In [77]:
final_gdp['year_range']=["1965-1975" if x<1975 else "1975-1985" if x<1985 
                              else "1985-1995" if x<1995 else "1995-2005" if x<2005 
                              else "2005-2015" if x<2015 else "2015-2020" for x in final_gdp['Year'] ]
final_gdp.head()

     Country  ISO3166_numeric  Year           GDP year_range
0  Australia             36.0  1960  1.860679e+10  1965-1975
1  Australia             36.0  1961  1.968306e+10  1965-1975
2  Australia             36.0  1962  1.992272e+10  1965-1975
3  Australia             36.0  1963  2.153993e+10  1965-1975
4  Australia             36.0  1964  2.380110e+10  1965-1975

In [78]:
final_gdp=final_gdp[['ISO3166_numeric','Country','Year','year_range','GDP']]
final_gdp.rename(columns={'ISO3166_numeric':'country_id','Country':'country','Year':'year','GDP':'gdp'},inplace=True)

In [79]:
# 1Billion$=1000000000, Converting GDP is US$ to US$(in Billions)
final_gdp['gdp']=final_gdp['gdp']/1000000000
final_gdp.head()

   country_id    country  year year_range        gdp
0        36.0  Australia  1960  1965-1975  18.606787
1        36.0  Australia  1961  1965-1975  19.683055
2        36.0  Australia  1962  1965-1975  19.922724
3        36.0  Australia  1963  1965-1975  21.539926
4        36.0  Australia  1964  1965-1975  23.801098

In [80]:
#Drop table if it exits
engine.execute('DROP TABLE IF EXISTS GDP')

In [81]:
#Create table if it does not exist
engine.execute('CREATE TABLE IF NOT EXISTS GDP(COUNTRY_ID INT,COUNTRY VARCHAR(25),YEAR INT,YEAR_RANGE VARCHAR(12),\
              GDP DOUBLE PRECISION)')

In [82]:
final_gdp.to_sql('gdp',engine,if_exists='append',index=False)